<html>
<body>
<form action="loginCheck" method="post" id="login">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password"/>
    </div>

    <button type="submit">Login</button>
</form>
</body>
</html>