<html>
<body>
<form action="" method="post" id="login">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ username }}"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="_password" value="{{ password }}"/>
    </div>
</form>
</body>
</html>