<h1>Blog</h1>
<ul id='adminmenu'>
    <li><a href="{{ path('blog_admin_index') }}">Blog</a></li>
    <li><a href="{{ path('query_user') }}">Users</a></li>
    <li><a href="{{ path('blog')  }}">View Website</a></li>
    <li><a href="{{ path('logout') }}">Logout</a></li>
</ul>
<div class='clear'></div>
<hr />