blog_welcome:
    path:     /
    defaults: { _controller: AcmeBlogBundle:Welcome:index }

blog_show:
    path: /blog/show/{id}
    defaults: { _controller: AcmeBlogBundle:Blog:show }

blog:
    path: /blog
    defaults: { _controller: AcmeBlogBundle:Blog:blog }

blog_viewpost:
    path: /blog/viewpost/{id}
    defaults: { _controller: AcmeBlogBundle:Blog:viewpost }

blog_addpost:
    path: /blog/addpost
    defaults: { _controller: AcmeBlogBundle:Blog:addpost }

blog_edit:
    path: /blog/edit/{id}
    defaults: { _controller: AcmeBlogBundle:Blog:edit }

blog_update:
    path: /blog/update
    defaults: { _controller: AcmeBlogBundle:Blog:update }

blog_delete:
    path: /blog/delete/{id}
    defaults: { _controller: AcmeBlogBundle:Blog:delete }

blog_admin_index:
    path: /blog/admin/index
    defaults: { _controller: AcmeBlogBundle:Blog:index }

page:
    path: /blog/page/{index}/{p}
    defaults: { _controller: AcmeBlogBundle:Blog:page }

photos:
    path: /photos
    defaults: { _controller: AcmeBlogBundle:Blog:photo }

login_register:
    path: /loginRegister
    defaults: { _controller: AcmeBlogBundle:Security:loginRegister }

register:
    path: /register
    defaults: { _controller: AcmeBlogBundle:Security:register }